#formblock {
    text-align: center;
    margin: auto;
}

label{
    float: left;
    width: 12%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    label {

        text-align: right;
        float: none;
    }
}