<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<form method="POST" action="">
    <fieldset style="width: 500px;">
        <legend>Gegevens: </legend>
        <div style=" padding-top: 5px;">Voornaam: <input name="firstName" type="text" maxlength="50"/></div>
        <div style="padding-top: 2px;">Achternaam: <input type="text" name="lastName" maxlength="50"/><br></div>
        <p></p>
        <input type="submit" name="submit" value="Opslaan"/>
    </fieldset>
</form>
</body>
</html>