<!DOCTYPE HTML>
<html>
<head></head>
<body>
<fieldset>
    <legend>Gegevens</legend>
    <h3>Nummer: {{ number }}</h3><br>
    <h3>Voornaam: {{ firstName }}</h3><br>
    <h3>Achternaam: {{ lastName }}</h3>
</fieldset>
</body>
</html>