h1 {
    font-size: 50px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #008CBA;
    font-size: 24px;
    text-decoration: none;
    padding: 14px 20px;
    max-width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #008CBA;
    border-radius: 5px;
    width: 95%;
    margin: 10px;
    float: left;
    color: white;
}

input {
    width: 95%;
    margin: 10px;
    float: left;
    border: 2px solid #008CBA;
    border-radius: 5px;
    max-width: 100%;
    font-size: 24px;
}



button:hover {
    background-color: white;
    color: black;
    text-decoration-color: black;
}




@media only screen and (min-width: 768px) {
    /* For desktop: */
    img {
        max-width: 40%;
        min-width: 40%;
        height: auto;
    }

    button {
        position:relative;
        text-align: center;
        max-width: 100%;
        min-width: 300px;
        width: 25%;
        float: none;
    }

    div {
        text-align: center;
    }

    body {
        text-align: center;
    }
}