img {
    max-width: 100%;
    height: auto;
}

label {
    font-size: 24px;
    margin-left: 10px;

    text-align: left;
    display: inline-block;

}

#searchbutton {
    background-color: #008CBA;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 14px 20px;
    color: white;
}


table {
    border-collapse: collapse;
    width: 95%;
    font-size: 20px;
    padding:5px;
    margin: 10px
}

table, th, td {
    border: 3px solid  #008CBA;
}

th, td {
    text-align: left;
    width: 10%;
}

#searchbutton:hover {
    background-color: white;
    color: black;
    text-decoration-color: black;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    img {
        max-width: 30%;
        min-width: 30%;
    }

     #searchbutton{
        position: relative;
        text-align: center;
        max-width: 100%;
        min-width: 300px;
        width: 25%;
        float: none;
    }

    .inputLabel {
        position: relative;
        text-align: center;
        width: 25%;
        float: none;
    }

    table {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }



}