{% extends 'base.html.twig' %}

{% block title %} Login Monkey Business {% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function stripTags(input) {
            var regex = /(<([^>]+)>)/ig;
            return input.replace(regex, "");
        }
        function validateForm() {
            var name = document.getElementById("login_name").value;
            var pw = document.getElementById("login_password").value;
            name = stripTags(name);
            pw = stripTags(pw);
            name.value = name.value.replaceAll(" ", "");
            pw.value = name.value.replaceAll(" ", "");
            if(name == "" || pw == "") {
                document.getElementById("error").value = 'Error! geef geldige invoer!';
                return false;
            }
            document.getElementById("error").innerHTML = '';
            return true;
        }
    </script>
{% endblock %}
{%  block body %}
    <div class="container-viewport">
        <div style="text-align: center; margin: 10% auto">
            <p id="test" class="navbar"></p>
            <h2>Login</h2>
            <form style="text-align: center;" method="post" onsubmit="return validateForm()">
                Naam: <input id="login_name" type="text" name="login_name" style="margin-bottom: 2px"><br>
                Wachtwoord: <input id="login_password" type="password" name="login_password"><br>
                <input type="submit" onclick="validateForm()" name="login" value="Inloggen" style="margin-top: 10px; text-align: center">
            </form>
        </div>
    </div>
{% endblock %}
