{% extends 'base.html.twig' %}

{% block title %} Klantenbeheer {% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function stripTags(input) {
            var regex = /(<([^>]+)>)/ig;
            return input.replace(regex, "");
        }
        function validateUpdate() {
            var name = document.getElementById("name").value;
            var first = document.getElementById("first_name").value;
            var loc = document.getElementById("location").value;
            var phone = document.getElementById("phone").value;
            var cell = document.getElementById("cell").value;
            var email = document.getElementById("email").value;
            var type = document.getElementById("type").value;
            name = stripTags(name);
            first = stripTags(first);
            loc = stripTags(loc);
            phone = stripTags(phone);
            cell = stripTags(cell);
            email = stripTags(email);
            type = stripTags(type);
            name.value = name.value.replaceAll(" ", "");
            first.value = first.value.replaceAll(" ", "");
            loc.value = loc.value.replaceAll(" ", "");
            phone.value = phone.value.replaceAll(" ", "");
            cell.value = cell.value.replaceAll(" ", "");
            email.value = email.value.replaceAll(" ", "");
            type.value = type.value.replaceAll(" ", "");
            if(name == "" || first == "" || loc == "" || phone == "" || cell == "" || email == "" || type == "") {
                document.getElementById('error').value = "Error! geef geldige invoer!";
                return false;
            }
            document.getElementById('error').value = "";
            return true;
        }
        function validateForm() {
            var name = document.getElementsByName("name").value;
            var first = document.getElementsByName("first_name").value;
            var loc = document.getElementsByName("location").value;
            var phone = document.getElementsByName("phone").value;
            var cell = document.getElementsByName("cell").value;
            var email = document.getElementsByName("email").value;
            var type = document.getElementsByName("type").value;
            name = stripTags(name);
            first = stripTags(first);
            loc = stripTags(loc);
            phone = stripTags(phone);
            cell = stripTags(cell);
            email = stripTags(email);
            type = stripTags(type);
            name.value = name.value.replaceAll(" ", "");
            first.value = first.value.replaceAll(" ", "");
            loc.value = loc.value.replaceAll(" ", "");
            phone.value = phone.value.replaceAll(" ", "");
            cell.value = cell.value.replaceAll(" ", "");
            email.value = email.value.replaceAll(" ", "");
            type.value = type.value.replaceAll(" ", "");
            if(name == "" || first == "" || loc == "" || phone == "" || cell == "" || email == "" || type == "") {
                document.getElementById('error').value = "Error! geef geldige invoer!";
                return false;
            }
            document.getElementById('error').value = "";
            return true;
        }
    </script>
{% endblock %}
{% block body %}
    <h3><b>Beheer Klanten</b></h3>
    <table border="1px solid black" style="margin: auto; size: auto">
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Voornaam</th>
            <th>Locatie</th>
            <th>Telefoon</th>
            <th>GSM</th>
            <th>E-mail</th>
            <th>Type</th>
        </tr>
        {% for person in repo %}
            <form method="post" style="overflow-x: auto; text-align: center;" onsubmit="return validateUpdate()">
                <tr id="{{ person.id }}"><td><input size="1" readonly type="text" name="id" value="{{ person.id }}"></td>
                    <td><input type="text" size="12" name="name" id="input_id" value="{{ person.name }}"></td>
                    <td><input type="text" size="15" name="first_name" id="first_name" value="{{ person.first_name }}"></td>
                    <td><input type="text" size="34" name="location" id="location" value="{{ person.location }}"></td>
                    <td><input type="text" size="10" name="phone" id="phone" value="{{person.phone }}"></td>
                    <td><input type="text" size="15" name="cell" id="cell" value="{{ person.cell }}"></td>
                    <td><input type="email" size="25" name="email" id="email" maxlength="40" value="{{ person.email }}"></td>
                    <td><input type="text" id="type" name="type" maxlength="30" value="{{ person.type }}"></td>
                    <td><input type="submit" value="Update" name="update"></td>
                    <td><input type="submit" value="Verwijder" name="delete"></td>
                </tr>
            </form>
        {% endfor %}
    </table>
    <p></p>
    <h3><b>Toevoegen</b></h3>
    <form method="post" style="text-align: center;" onsubmit="return validateForm()">
        <table border="1px solid black" style="width: auto; overflow-x: auto;margin: auto; margin-bottom: 2px;"><tr>
                <th>ID</th>
                <th>Naam</th>
                <th>Voornaam</th>
                <th>Locatie</th>
                <th>Telefoon</th>
                <th>GSM</th>
                <th>E-mail</th>
                <th>Type</th>
            </tr>
            <tr>
                <td name="login"><input readonly size="1"></td>
                <td><input type="text" size="12" name="name"></td>
                <td><input type="text" size="15" name="first_name"></td>
                <td><input type="text" size="34" name="location"></td>
                <td><input type="text" size="10" name="phone"></td>
                <td><input type="text" size="15" name="cell"></td>
                <td><input type="email" size="25" name="email" maxlength="40"></td>
                <td><input type="text" name="type" maxlength="30"></td>
            </tr>
        </table>
        <input type="submit" name="submit" value="Invoegen">
    </form>
    <p></p>
    <div style="right: 0px;margin: 20px; position: relative; text-align: right"><button onclick="window.location.href='/r'">Uitloggen</button></div>
{% endblock %}